$main_color: #f9322c;
// $main_color: #7209b7;
// $main_color: #0ead69;
$text-color: #565454;
$common_color: #232323;
$white: white;
$background_color: #e3edf7;
$low-color: #a6bfd3;
// $main_color: #FF715D;
// $main_color: #FF4900;